@import url("https://fonts.googleapis.com/css?family=Tilt Neon");

body {
  background-color: #ffffff;
  color: #088F8F;
}
main > header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  /* align-items: center; */
  background-color: #088F8F;
  padding: 1em;
  margin: 1em;
}
main > header a.button {
  margin: 1em;
  justify-self: right;
}
main > header span {
  color: #ffffff;
  background-color: #088F8F;
  border-color: #ffffff !important;
}
#content label {
  font-weight: normal;
}
#content > form {
  margin: 0 auto;
  padding: 1em;
  max-width: 20em;
  border: 1px solid #088F8F;
}
#content > form .error {
  font-weight: bold;
  color: #ff3333;
}
#content > form input {
  background-color: white;
}
@media (max-width: 70em) {
  #cards {
    grid-template-columns: repeat(2, 1fr);
  }
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
  main > header h2 {
    grid-row-end: span 2;
  }
}
@media (max-width: 40em) {
  #cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }
  #content form {
    margin: 0;
    max-width: 25em;
  }
  article.card {
    margin: 0;
    border-bottom: 1px solid #ffffff;
  }
}
/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button {
  background-color: #088F8F;
  border-color: #ffffff;
}
form > button.button,
a.button {
  background-color: #088F8F;
  border-color: #ffffff;
}
a.button.button-outline {
  color: #088F8F;
}
a {
  color: #088F8F;
}
h1 a {
  color: #ffffff;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #ffffff;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: black; 
  margin: 0 auto;
}

.content .left-column,
    .right-column,
    .bottom-content {
        color: inherit; 
    }


.content .left-column {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
}

.content .right-column {
  flex-basis: calc(50% - 20px);
  max-width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 200px;
  background-color: #f4f5f6; 
  padding: 20px; 
  border-radius: 5px;
}

.content .bottom-content {
  flex-basis: 100%;
  max-width: 100%;
}

.underline-text {
  border-bottom: 2px solid black; 
  padding-bottom: 5px; 
}

footer {
  background-color: #088f8f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 95px;
}

.auctions_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.auction-card {
  display: flex;
  background-color: #f4f4f4; 
  border: 1px solid #ddd; 
  margin-bottom: 10px; 
  padding: 50px;
  width: 1000px; 
}

.image-container {
  flex: 1;
  padding: 10px; 
}

.image-container img {
  max-width: 100%;
}

.info-container {
  flex: 2;
  padding: 10px; 
  color: #000;
}

.info-container h2 {
  margin-bottom: 10px; 
}

.info-container p {
  margin-bottom: 5px;
}

.info-container a {
  display: block; 
  margin-top: 10px; 
}

.content img[alt="UserImage"]  {
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
  margin-right: 20px;
  margin-left: 200px; 
}

.content div {
  flex: 1;
}

.content div div {
  margin-bottom: 10px; 
}

.button {
  margin-top: 10px; 
}

.info {
  flex: 1;
}

.info div {
  margin-bottom: 10px; 
}

.info div:first-child {
  margin-top: 20px;
}

.info div:last-child {
  margin-bottom: 20px; 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.button-container button {
  margin: 0 10px; /* Adjust the horizontal spacing between buttons */
}


#createAuctionButton {
  position: fixed;
  top: 80%;
  right: 10%;
}

.pagination-icons {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap; 
  justify-content: center;
  margin-bottom: 20px; 
  font-size: 1em;
}


.transparent-box {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 5px; /* Optional: Add rounded corners */
  display: inline-block; /* Make sure it only takes up the necessary width */
}

.transparent-box a {
  color: white;
  text-decoration: none;
}

.transparent-box:hover {
  background-color: #066d6d; /* Change this to the desired color */
}

.transparent-box:hover a {
  color: white; /* You can adjust the text color on hover if needed */
}
.navigation form input[type="text"] {
  background-color: white;
  /* Add any additional styling as needed */
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add a border for better visibility */
  border-radius: 4px; /* Optional: Add rounded corners */
}