@import url("https://fonts.googleapis.com/css?family=Tilt Neon");

/* Reset some default styles */
body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
  }

  /* Basic styling */
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;

  }


  main {
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: black
  }

  header a {
    color:#f4f4f4;
}

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    flex-grow: 1; /* This ensures the navigation takes up remaining space */
}

#searchBar {
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

#searchButton {
    padding: 8px 12px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
    color: #fff;
}

.transparent-box {
    background-color: transparent;
    display: inline-block;
    padding: 10px;
}

header {
    background-color: #088F88;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-family: 'Tilt Neon', sans-serif;
    padding-left: 40px;
    margin-right: auto; /* This pushes the h1 to the left */
}



.auctions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Change to space-around to provide equal spacing on all sides */
    padding: 20px;
}

.auction-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 500px;
    height: 600px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.auction-card:hover {
    transform: translateY(-5px);
}

.image-container {
    height: 200px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container .image-container img {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-container {
    padding: 15px;
    height: 40%;
    box-sizing: border-box;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    background-color: #088F88;
    border: 1px solid #088F88;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #066c66;
}
